.index-page {
    text-align: center;
    padding-top: 50px;
}

.index-page h1 {
    font-size: 3em;
}

.index-page h2 {
    font-size: 2em;
}

.index-page img {
    max-width: 300px;
    margin-top: 50px;
}